html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  background-color: #282828;
}

.embed {
  position: absolute;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 4px solid #ff0000;
  width: 100%;
  height: 100%;
}
