html{
  margin: 0;
}
body {
  overflow: hidden;
  margin: 0;
  background: linear-gradient(11deg, rgba(245, 247, 250, 0.76), rgba(138, 172, 255, 1));
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.embed {
  position:fixed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  /*border-top: 4px solid #ff0000;*/

  position:fixed;
  left:16%;
  top:12%;
  width:67%;
  height:67%;
  right:auto;
  box-sizing:border-box;
  background: #000000;
}
@media only screen and (min-width:1280px){

footer{
  font-family: monospace;
  font-size: calc(1em + 1vw);
  font-weight: 700;
  position: absolute;
  padding-top: 50px;
  left:10%;
  right: 0%;
  bottom: 0%;
  top: 84%;
  width:100%;
  height: 100px;
  box-sizing:border-box;
  background-color:transparent;
  /*white-space: nowrap;*/
}

footer p{
  color: black;
  margin: 0;
  padding: 0;
  font-size: small;
  
}

footer a{
  text-decoration:none;
}

.text {
  display: flex;
  justify-content: center;
  /* margin-top: 50vh; */
  transform: translateY(-50%);
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-family: 'Are You Serious', cursive;
  color:#ccc;
  
}
.text:hover {
  transform: rotateX(35deg), translateY(-50%);
}
.text:hover span {
  color:#ccc;
}
.text:hover span:nth-child(odd) {
  transform: skewY(15deg);
}
.text:hover span:nth-child(even) {
  transform: skewY(-15deg);
  background-color: #f9f9f9;
  color: #a6a6a6;
}
.text > span {
  display: block;
  background-color:#2c3e50;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  box-shadow: 0 40px 50px rgba(0, 0, 0, 0.1);
}
.text > span:first-child {
  border-radius: 5px 0 0 5px;
}
.small{
  display: none;
}
}

@media only screen and (max-width: 1279px){
  .small{
    display: block;
  }
  footer{
    position: absolute;
    right: 10%;
    bottom: 5%;
    width:50%;
    box-sizing:border-box;
    /*white-space: nowrap;*/
  }
  
  footer p{
    font-family: 'Are you serious' ,cursive;
    color: #2c3e50;
    font-size: 30px;
    font-weight: bolder;
    line-height: 0.75em;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  footer a{
    text-decoration:none;
  }
  .text{
    display: none;
  }
}




 