body {
  overflow: hidden;
    margin: 0;
    background: linear-gradient(11deg, rgba(245, 247, 250, 0.76), rgba(138, 172, 255, 1));
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.embed {
  position:fixed;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  /*border-top: 4px solid #ff0000;*/

  position:fixed;
  left:12%;
  top:12%;
  width:75%;
  height:75%;
  right:auto;
  box-sizing:border-box;

  background: #000000;
}

footer{
  font-family: monospace;
  font-size: calc(1em + 1vw);
  font-weight: 700;
  position: absolute;
  right: 0%;
  bottom: 5%;
  width:45%;
  box-sizing:border-box;
  /*white-space: nowrap;*/
}

footer p{
  color: #8b03fa;
  margin: 0;
  padding: 0;
}

footer a{
  text-decoration:none;
}